# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# Node / React
node_modules/
dist/
build/

# Environment variables
.env
.env.local

# Data files
data/
*.csv

# Docker
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db